.table-subheader {
	display: grid;
	padding: 5vh 0;
	font-size: 2rem;
	text-align: center;
	border-bottom: 2px solid rgba(48, 92, 96, 0.3);
	font-weight: 500;
}

.statement-section {
	/* margin-left: 20%;
	line-height: 0.5vmin;
	max-width: 45vw;
	min-width: 45vw;
	align-items: center;
	justify-content: center; */
}

tr:hover {
	background: rgba(218, 218, 243, 0.877);
}

.q-selector {
	margin-left: 30%;
	width: 40vw;
}

#statement-table-body {
	display: grid;
	min-width: 60vw;
}

#statement-table-body > * {
	border-left: 2px solid black;
	border-right: 1px solid black;
}

.overlay {
	position: absolute;
	left: 80vw;
	/* left: 25vw; */
	border: 1px solid #000;

	min-width: 20vw;
	padding: 2vmin;

	display: flex;
	align-items: center;
	justify-content: center;

	background: #eeeeee;
}

.hidden {
	display: none;
}

#line-item {
	display: flex;
	justify-content: space-between;
}

/* #line-item > *{
	background: white;

} */

#sub-total {
	background: rgba(206, 212, 236, 0.719);
	border-top: 1px solid rgb(0, 0, 0);
	display: flex;
	justify-content: space-between;
}

#grand-total {
	background: white;
	border-top: 4px dotted black;
	padding-bottom: 3vh;
	display: flex;
	justify-content: space-between;
}

#sub-or-grand {
	font-weight: 600;
}

.red-text {
	color: red;
}

@media (max-width: 800px) {
	.table-subheader {
		font-size: 1.2rem;
	}
	#transaction-detail-buttons > * {
		font-size: 0.7rem;
		margin: 1vmin auto;
		padding: 1vmin 0;
		min-width: 100%;
	}
	#sub-or-grand {
		display: none;
	}
}
