.table-subheader {
	display: grid;
	padding: 5vh 0;
	/* margin: 10vh 6vw 4vh 6vw; */
	font-size: 2rem;
	text-align: right;
	/* position: relative; */
	/* left: 15vw; */
	/* border-top: 2px solid rgba(48, 92, 96, 0.3); */
	border-bottom: 2px solid rgba(48, 92, 96, 0.3);
	min-width: 65vw;
}

.statement-section {
	line-height: 0;
	max-width: 45vw;
	min-width: 45vw;
	/* display: grid; */
	align-items: center;
	justify-content: center;
}

tr:hover {
	background: lightgray;
}

#statement-table-body {
	display: grid;
	/* max-width: 80vw; */
	/* justify-content: center;
	align-content: center; */
	/* min-width: 80vw; */
	/* justify-content: space-evenly; */
	/* justify-content: center;
	align-items: center; */
	/* border-left: 4px solid black;
	border-right: 2px solid black; */
}

#statement-table-body > * {
	border-left: 2px solid black;
	border-right: 1px solid black;
	/* background: black; */
}

#line-item {
	display: flex;
	justify-content: space-between;
}

#sub-total {
	background: rgb(193, 202, 233);
	border-top: 1px solid rgb(0, 0, 0);
	display: flex;
	justify-content: space-between;
}

#grand-total {
	background: white;
	border-top: 5px dotted black;
	padding-bottom: 4vh;
	display: flex;
	justify-content: space-between;
}

#sub-or-grand {
	font-weight: 600;
}

.red-text {
	color: red;
}

@media (max-width: 800px) {
	.table-subheader {
		font-size: 1rem;
		font-weight: 500;
	}
	#transaction-detail-buttons > * {
		font-size: 0.7rem;
		margin: 1vmin auto;
		padding: 1vmin 0;
		min-width: 100%;
	}
	#sub-or-grand {
		display: none;
	}
}
