form {
	background-color: rgba(243, 244, 245, 0.9);
	color: #6a89f0;
	padding: 1.5rem 2rem;
	text-align: left;
    margin-top: 30px;
}

.sign-in-text {
	color: black;
	font-weight: 300;
}

.button-text {
	color: white;
}
.button-text:hover{
    text-decoration: none;
}

.valid {
	display: none;
}

.invalid {
	color: red;
}