table {
	max-width: 75%;
	margin: 0 auto;
}

#form-transaction-type {
	/* margin-bottom: 4vh;
	line-height: 2vmin;
	
	 */
	margin: 4vh 0;
	/* text-align: center; */
	max-width: 50vw;
	display: flex;
}

#transaction-detail-headers {
	background: rgb(220, 229, 237);
}

#link-to-detail {
	font-size: 1rem;
	font-weight: 400;
	font-style: italic;
	color: rgba(57, 57, 255, 0.75);
	transition: 0.3s;
}

#link-to-detail:hover {
	color: rgba(66, 131, 242, 0.797);
}

.fixed-transaction-type {
	text-align: center;
	font-size: 2rem;
}

.make-center {
	text-align: center;
}

#transaction-dates {
	font-size: 0.6rem;
	text-align: center;
	display: grid;
	justify-content: center;
}

#transaction-detail-buttons > * {
	width: 40vw;
}

@media (max-width: 800px) {
	.transaction-detail-headers {
		font-size: 0.8rem;
		text-align: center;
		display: grid;
		justify-content: center;
	}
	#link-to-detail {
		font-size: 0.8rem;
		text-align: center;
		display: grid;
		justify-content: center;
	}
	.fixed-transaction-type {
		font-size: 1rem;
		font-weight: 500;
	}
	/* #transaction-form-buttons {
		font-size: .1rem;
	} */
}

@media (min-width: 1000px) {
	#link-to-detail {
		font-size: 1.2rem;
	}
	#transaction-dates {
		font-size: 1.2rem;
	}
}