table {
	max-width: 75%;
	margin: 0 auto;
}

#form-transaction-type {
	/* margin: 4vw; */
	/* max-width: 60vw; */
	display: flex;
}

#transaction-detail-headers {
	background: rgb(220, 229, 237);
}

.transaction-form-container {
	background: rgba(179, 185, 209, 0.5);
	border-radius: 20ch;
	display: grid;
	align-items: center;
	justify-content: center;
	margin: 0 0 0 15%;
	max-width: 65vw;
}

.transaction-form-container > *{
	max-width: 45vw;
	border-radius: 10px;
}

#link-to-detail {
	font-size: 1rem;
	font-weight: 400;
	font-style: italic;
	color: rgba(57, 57, 255, 0.75);
	transition: 0.3s;
}

#link-to-detail:hover {
	color: rgba(66, 131, 242, 0.797);
}

.fixed-transaction-type {
	text-align: center;
	font-size: 2rem;
}

.make-center {
	text-align: center;
}

#transaction-dates {
	font-size: 0.6rem;
	text-align: center;
	display: grid;
	justify-content: center;
}

#transaction-detail-buttons > * {
	width: 40vw;
}

@media (max-width: 800px) {
	.transaction-detail-headers {
		font-size: 0.8rem;
		text-align: center;
		display: grid;
		justify-content: center;
	}
	#link-to-detail {
		font-size: 0.8rem;
		text-align: center;
		display: grid;
		justify-content: center;
	}
	.fixed-transaction-type {
		font-size: 1rem;
		font-weight: 500;
	}
}

@media (min-width: 1000px) {
	#link-to-detail {
		font-size: 1.2rem;
	}
	#transaction-dates {
		font-size: 1.2rem;
	}
}